# OS-specific
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon?
._*

# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
publish/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.cache
.mypy_cache/
.tox/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt
Pipfile
Pipfile.lock
.python-version

# Rust
target/
**/*.rs.bk

# Temporary build logs and status files
build_errors*.txt
publish_output*.txt
*.log
*output*txt
*.dylib*
_build/
/tmp/
venv3.11/pyvenv.cfg
/scratch
test_data/MS2_MS1_zoom.raw
test_data/MS2_MS1_astral.raw
test_data/20250411_Ast0_500SPD_EVO685_JVO_EV1107_050ng_HEK-CPR_380-980_2Th_1P5ms_OFF_05_20250413081131.raw
test_data/20250307_AST0_NEO5_JVO_MV50_DR_100SPD_10ng_HEK_Ref_DDA_2Th_1p5ms_10ms_v2Ref_cycle_03.raw
