# OS-specific
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon?
._*

# .NET
bin/
obj/
*.user
*.userosscache
*.sln.docstates
.vs/
publish/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints
.pytest_cache/
.coverage
.coverage.*
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.cache
.mypy_cache/
.tox/
.venv/
venv/
pip-log.txt
pip-delete-this-directory.txt
Pipfile
Pipfile.lock
.python-version

# Rust
target/
**/*.rs.bk

# Temporary build logs and status files
build_errors*.txt
publish_output*.txt
*.log
*output*txt
*.dylib*
_build/
/tmp/
venv3.11/pyvenv.cfg
/scratch
test_data/MS2_MS1_orbitrap.raw
test_data/*.raw
test_data/*.raw
